body {
  --shadow-color: #f0ebd2;
}

.cm-sizer, .markdown-preview-sizer {
  box-shadow: 0 0 4mm 0 var(--shadow-color);
  padding-left: 20mm;
  padding-right: 20mm;
  padding-top: 9.3mm;
}

.markdown-preview-sizer {
  padding-top: 5mm;
}
.workspace-leaf,
.workspace-header {
    box-shadow: none !important;
}